* {
  box-sizing: border-box;
}
body {
  font-size: 0;
}
.calculator {
  display: inline-block;
  height: 350px;
  width: 300px;
  background-color: rgb(76, 183, 44);
  font-family: helvetica;
  font-weight: lighter;
}

.result {
  width: 200px;
  height: 60px;
  border: 1px solid grey;
  float: right;
  line-height: 60px;
}

.keys {
  font-size: 40px;
  float: left;
  color: white;
}

span {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
}

.clear {
  height: 60px;
  width: 60px;
  font-size: 40px;
  color: white;
  padding-left: 15px;
  background-color: inherit;
